* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  position: relative;
}
h1 {
  margin-top: 50px;
  color: white;
  font-size: 3em;
  text-transform: capitalize;
  text-shadow: 15px 40px 10px white;
}
span {
  color: teal;
  text-shadow: 15px 40px 12px rgb(4, 213, 213);
}
.container,
.container-two {
  position: relative;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  background: radial-gradient(rgba(4, 213, 213, 0.611), rgba(0, 0, 0, 0.611));
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  margin-top: 120px;
}
.container-two {
  margin-top: 100px;
}
.box {
  position: absolute;
  right: -70px;
  background-image: url("https://images.unsplash.com/photo-1721462715248-a4eacc27f1e4?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDMwfDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 98px;
  border: 1px solid white;
  animation-name: scroll-bar;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
.box-2 {
  left: -70px;
  animation-name: scroll-bar-box2;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
@keyframes scroll-bar {
  to {
    transform: translateX(-1500px);
  }
}
@keyframes scroll-bar-box2 {
  to {
    transform: translateX(1500px);
  }
}
#box1 {
  right: 140px;
  background-image: url("https://images.unsplash.com/photo-1721479439539-9696b9bfd2e7?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDY0fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
}
#box2 {
  right: 350px;
  background-image: url("https://images.unsplash.com/photo-1721397110194-b44b3d4fb83f?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDg1fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
}
#box3 {
  right: 560px;
  background-image: url("https://images.unsplash.com/photo-1721423297705-f7da8f386dc4?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDk2fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
}
#box4 {
  right: 770px;
  background-image: url("https://images.unsplash.com/photo-1721417805645-e8303bdd19b4?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEwMHw2c01WalRMU2tlUXx8ZW58MHx8fHx8");
}
#box6 {
  right: 980px;
  background-image: url("https://images.unsplash.com/photo-1721479439539-9696b9bfd2e7?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDY0fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
}
#box7 {
  right: 1190px;
  background-image: url("https://images.unsplash.com/photo-1721397110194-b44b3d4fb83f?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDg1fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
}
#box8 {
  right: 560px;
  background-image: url("https://images.unsplash.com/photo-1721423297705-f7da8f386dc4?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDk2fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
}
#box9 {
  right: 770px;
  background-image: url("https://images.unsplash.com/photo-1721417805645-e8303bdd19b4?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEwMHw2c01WalRMU2tlUXx8ZW58MHx8fHx8");
}

/* *********** Container Box 2 **************** */
#box11 {
  left: 140px;
  background-image: url("https://images.unsplash.com/photo-1721479439539-9696b9bfd2e7?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDY0fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
}
#box12 {
  left: 350px;
  background-image: url("https://images.unsplash.com/photo-1721397110194-b44b3d4fb83f?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDg1fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
}
#box13 {
  left: 560px;
  background-image: url("https://images.unsplash.com/photo-1721423297705-f7da8f386dc4?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDk2fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
}
#box14 {
  left: 770px;
  background-image: url("https://images.unsplash.com/photo-1721417805645-e8303bdd19b4?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEwMHw2c01WalRMU2tlUXx8ZW58MHx8fHx8");
}
#box16 {
  left: 980px;
  background-image: url("https://images.unsplash.com/photo-1721479439539-9696b9bfd2e7?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDY0fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
}
#box17 {
  left: 1190px;
  background-image: url("https://images.unsplash.com/photo-1721397110194-b44b3d4fb83f?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDg1fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
}
#box18 {
  left: 560px;
  background-image: url("https://images.unsplash.com/photo-1721423297705-f7da8f386dc4?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDk2fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D");
}
#box19 {
  left: 770px;
  background-image: url("https://images.unsplash.com/photo-1721417805645-e8303bdd19b4?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEwMHw2c01WalRMU2tlUXx8ZW58MHx8fHx8");
}
